<launch>
  <!-- Load the parameters from the YAML file -->
  <rosparam file="$(find time_pub_sub_pkg)/config/parameters.yaml" /> <!-- TODO: This should match the name of the package -->

  <!-- TODO: Add your nodes below. Make sure to specify the correct values for the 'name', 'pkg', and 'type' attributes. -->


  <!-- Assuming you have a time_publisher node, here's its launch command -->
  <node name="time_publisher" pkg="time_pub_sub_pkg" type="example_time_publisher" output="screen"/>
  <!-- Assuming you also have a time_subscriber node, here's its launch command -->
  <node name="time_subscriber" pkg="time_pub_sub_pkg" type="time_subscriber.py" output="screen"/>
</launch>
